.textbox {
    width: 15rem;
    height: 10rem;
    flex-shrink: 0;
    border-radius: 36px;
    border: 5px #7d2ae8;
    box-shadow: 1px 4px 10.2px 0px rgba(94, 31, 160, 0.96);
    background-color: rgba(1, 0, 0, 0);
    color: #266478;
    padding: 2rem;
    font-size: 1.2rem;
    font-family: "Nunito", sans-serif;
}

/* Contenedor para la lista de sugerencias */
#autocomplete-list {
    position: absolute;
    background-color: white;  /* Fondo blanco */
    border-radius: 8px;
    border: 1px solid #d4d4d4;  /* Borde gris claro */
    max-height: 150px;
    overflow-y: auto;
    z-index: 99;
    width: 300px;
    color: black;  /* Asegura que todo el texto dentro del contenedor sea negro */
  }
  
  /* Estilo para cada sugerencia individual */
  #autocomplete-list div {
    padding: 10px;
    cursor: pointer;
    background-color: white;  /* Fondo blanco para cada sugerencia */
    color: black;  /* Asegura que el texto sea negro */
  }
  
  /* Estilo para cuando se pasa el mouse sobre una sugerencia */
  #autocomplete-list div:hover {
    background-color: #e9e9e9;  /* Cambia el fondo a gris claro cuando se hace hover */
    color: black;  /* Mantén el color negro cuando se hace hover */
  }
  