.textbox-container {
    position: relative;
    width: 300px; /* Ajusta según sea necesario */
  }
  
  .suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    width: 100%;
    z-index: 1000;
  }
  
  .suggestions ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .suggestions li {
    padding: 8px;
    cursor: pointer;
  }
  
  .suggestions li:hover {
    background-color: #f0f0f0;
  }
  