ul {
  list-style-type: none;
  padding: 1rem;
  margin: 0;
  width: fit-content;
  font-weight: medium;
  font-size: 1rem;
  font-family: "Nunito", sans-serif;
  color: black;
  background: #FFF0;
  border: .25rem solid #4F518CBB;
  border-radius: 1rem;
  position: absolute;
}

li {
  padding: 0.25rem 1rem;
  cursor: pointer;
  border-radius: 15px;
  transition: background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

li:hover {
  background-color: #7c2ae8d9;
  color: rgb(255, 255, 255);
}
