table {
    font-family: 'Arial';
    margin: 25px auto;
    border-collapse: collapse;
    border: 1px solid #eee;
    border-bottom: 2px solid #7d2ae8;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
       0px 10px 20px rgba(0,0,0,0.05),
       0px 20px 20px rgba(0,0,0,0.05),
       0px 30px 20px rgba(0,0,0,0.05);
    tr {
       &:hover {
        background: #2a999d1b;
        
        td {
          color: #555;
        }
      }
    }
    th, td {
      color: #606061;
      border: 1px solid #eee;
      padding: 12px 35px;
      border-collapse: collapse;
    }
    th {
      background: #7c2ae828;
      color: #fff;
      text-transform: uppercase;
      font-size: 12px;
      &.last {
        border-right: none;
      }
    }
  }