.textbox {
    width: 323px;
    height: 199px;
    flex-shrink: 0;
    border-radius: 36px;
    border: 5px #7d2ae8;
    box-shadow: 1px 4px 10.2px 0px rgba(94, 31, 160, 0.96);
    background-color: transparent; 
    color: #ffffff;
}