:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  --list-view-padding: 0;

  --list-view-item-background: transparent;
  --list-view-item-foreground: var(--primary-foreground);
  --list-view-item-padding: 4px;

  --list-view-item-focus-border-color: var(--focus);
  --list-view-item-focus-border-thickness: 2px;

  --list-view-item-hover-background: var(--list-hover);
  --list-view-item-hover-foreground: var(--primary-foreground);
  --list-view-item-pressed-background: var(--list-press);

  --list-view-item-selected-background: var(--list-selection);
  --list-view-item-selected-foreground: var(--primary-foreground);
  --list-view-item-selected-hover-background: var(--list-selection-hover);
  --list-view-item-selected-pressed-background: var(--list-selection-press);
}

ul {
  flex: 1 1 1px;
  list-style: none;
  margin: 0;
  overflow-y: auto;
  padding: var(--list-view-padding);
  position: relative;
}

ul:focus {
  outline: none;
}

ul>li {
  background: var(--list-view-item-background);
  color: var(--list-view-item-foreground);
  margin: 0;
  padding: var(--list-view-item-padding);
}


ul:focus>li.focused {
  color: var(--list-view-item-focus-foreground);
  outline: var(--list-view-item-focus-border-thickness) solid var(--list-view-item-focus-border-color);
  outline-offset: calc(-1 * var(--list-view-item-focus-border-thickness));
}

ul>li:hover {
  background: var(--list-view-item-hover-background);
  color: var(--list-view-item-hover-foreground);
}

ul>li:active {
  background: var(--list-view-item-pressed-background);
}

ul>li[aria-selected=true] {
  background: var(--list-view-item-selected-background);
  color: var(--list-view-item-selected-foreground);
}

ul>li[aria-selected=true]:hover {
  background: var(--list-view-item-selected-hover-background);
}

ul>li[aria-selected=true]:active {
  background: var(--list-view-item-selected-pressed-background);
}