.pageroot-layout {
  display: grid;
  grid-template-rows: 1fr min-content;
  gap: 12px;
  height: 100vh;
}

main,
footer {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 24px;
  padding-left: max(24px, var(--safe-area-inset-left));
  padding-right: 24px;
  padding-right: max(24px, var(--safe-area-inset-right));
}

main {
  display: block;
  padding-top: 32px;
  padding-top: max(32px, var(--safe-area-inset-top));
}

footer {
  background-color: var(--secondary-background);
  color: var(--accent);
  padding-top: 12px;
  text-align: center;
}

hr {
  border-width: 1px 0 0 0;
  border-top: 1px solid var(--secondary-foreground);
}