html {
 background-color: rgb(246, 246, 248);
color-scheme: dark;
  }

.fixed-footer {
  
  width: 100%;
  color: #266478;
  background-color: #f8f9fa;
  text-align: center;
  padding: 10px 0;
  z-index: 1000; 
}

.page-content {
  padding-bottom: 60px; 
}
