@if (status === 'valid') {
<h2>{{ title(instruction()) }}</h2>

<div class="instruction-structure">
  @for (part of structureEntries(instruction()); track part.name) {
  <div [style.gridColumn]="getRangeSpan(part.bitRange)">
    {{ part.name }}
    <p class="secondary">{{ toBinary(part.value, part.bitRange.size) }}</p>
  </div>

  <p class="secondary" [style.gridRow]="2" [style.gridColumn]="getRangeSpan(part.bitRange)">
    {{ part.bitRange.size }} bits
  </p>
  }
</div>
} @else @if (status === 'unset') {
<h2>Pick an instruction...</h2>
} @else {
<h2>The picked instruction is not valid.</h2>
}
