<ng-template #defaultTemplate let-item>{{ item }}</ng-template>

<section class="root">
  <input #inputBox type="text" [(ngModel)]="text" (focus)="onInputFocus()" (blur)="onInputFocusLost($event)"
    (keydown)="onInputKeyDown($event)">

  <div #suggestionFlyout class="flyout" [attr.open]="show && suggestions().length > 0">
    <app-list-view #suggestionList [isItemClickEnabled]="true" (itemClick)="onSuggestionPicked($event)"
      [itemsSource]="suggestions()"></app-list-view>
  </div>
</section>