.output-textbox {
    width: 15rem;
    height: 10rem;
    border-radius: 36px;
    border: 5px #3f3f3f;
    box-shadow: 1px 4px 10.2px 0px #9444fc;;
    background-color: rgba(0, 0, 0, 0); 
    color: #3b3b3b;
    padding: 2rem;
    font-size: 1.2rem;
    font-family: "Nunito", sans-serif;
    white-space: pre-wrap;
}