<ng-template #instructionTemplate let-item>
  {{ toAsm(item) }}
  <p secondary>0x{{ toHex(item) }}</p>
</ng-template>

<section class="root-panel">
  <h1>MIPS CONVERTER</h1>
  <section class="content-panel">
    <app-auto-suggest-box [(text)]="textInput" [suggestions]="suggestions" (querySubmitted)="onInputSubmitted($event)"
      (textChange)="onInputUpdated($event)"></app-auto-suggest-box>

    <hr style="grid-column: 1; grid-row: 2;">

    <app-list-view style="grid-column: 1; grid-row: 3;" [singleSelectionFollowsFocus]="false"
      [itemsSource]="instructions" [dataTemplate]="instructionTemplate"
      (selectionChanged)="onInstructionSelected($event)"></app-list-view>

    <hr vertical style="grid-column: 2; grid-row: 1 / span 3;">

    <app-mips-detail [instruction]="selected" style="grid-column: 3; grid-row: 1 / span 3;"></app-mips-detail>
  </section>
</section>
