.title{
  color: #266478;
  font-family: "Nunito", sans-serif;
  font-size: 4.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-items: center;
  gap: 4rem;
  width: 100%;
}

.second-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-items: center;
  gap: 4rem;
  width: 100%;
}

app-textbox, app-textbox-output {
  width: 100%;
}

.input-textbox {
  display: flex;
  width: 100%;
  grid-column: 1 / span 2;
}

.translate {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  justify-content: center;
  gap: 1rem;
}

app-switch {
  grid-column: 1 / span 2;
}

.output-textbox {
  display: flex;
  width: 100%;
  grid-column: 4 / span 2;
}

.instruction-table {
  grid-column: span 3;
}

.save-ram {
  grid-column: span 2;
}

.save-to-ram-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
