h1 {
  color: var(--accent);
  font-family: monospace, monospace;
  font-weight: bold;
  line-height: normal;
  margin: 0;
}

.instruction-input {
  height: 100%;
  font-family: monospace, monospace;
}