.title{
    color: #266478;
    font-family: "Nunito", sans-serif;
    font-size: 75px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin: 15px 0 10px 0;
    margin-bottom: 50px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-around ;
    gap: 4rem;
    flex-direction: row;
    width: 100%;
}

.input-textbox {
    display: flex;
    font-family: "Nunito", sans-serif;
    
}

.input-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 15px; 
    justify-content: flex-start; /* Alineación vertical superior */
    height: calc(10 * 40px);
    margin-left: 300px;
}

.translate {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 20px; 
}


.output-textbox {
    display: flex;
    margin-left: 180px;
}

.save-to-ram-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Cambia a fila en pantallas móviles */
    }
}


.instruction-menu-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente */
    justify-content: flex-start; /* Alineación vertical superior */
    height: calc(10 * 40px);
}
.assemblerOutput{
    display: flex;
    justify-content: center;

}
.assemblerInput{
        display: flex;
        font-family: "Nunito", sans-serif;
}

.assembler-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 15px; 
    justify-content: flex-start; /* Alineación vertical superior */
    height: calc(10 * 40px);
}
.assembler-translate {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 20px; 
}
