<ng-template #instructionTemplate let-item>
  <div style="display: flex; flex-direction: column;">
    <span>{{ toAsm(item) }}</span>
    <p secondary>0x{{ toHex(item) }}</p>
  </div>
</ng-template>

<section class="root-panel">
  <main>
    <h1>MIPS CONVERTER</h1>
    <section class="content-panel">
      <!-- Caja de sugerencias -->
      <app-auto-suggest-box [(text)]="textInput" [suggestions]="suggestions" (querySubmitted)="onInputSubmitted($event)"
        (textChange)="onInputUpdated($event)">
      </app-auto-suggest-box>
      <button style="grid-column: 1; grid-row: 2;" (click)="onAddClick()">Añadir</button>

      <!-- Separador -->
      <hr style="grid-column: 1; grid-row: 3;">

      <!-- Lista de instrucciones -->
      <app-list-view style="grid-column: 1; grid-row: 4;" [singleSelectionFollowsFocus]="false"
        [itemsSource]="instructions" [dataTemplate]="instructionTemplate"
        (selectionChanged)="onInstructionSelected($event)">
      </app-list-view>

      <!-- Botones Save to RAM y Clear All -->
      <div style="grid-column: 1; grid-row: 5; display: grid; gap: 8px; grid-template-columns: 1fr 1fr;">
        <button (click)="downloadRam()" [disabled]="instructions.length === 0">
          Save to RAM
        </button>
        <button (click)="clearAllInstructions()" [disabled]="instructions.length === 0" class="danger-button">
          Clear All
        </button>
      </div>

      <!-- Separador vertical -->
      <hr vertical style="grid-column: 2; grid-row: 1 / span 5;">

      <!-- Detalles de la instrucción seleccionada -->
      <app-mips-detail [instruction]="selected" style="grid-column: 3; grid-row: 1 / span 4;">
      </app-mips-detail>

      <!-- Subir archivo -->
      <input #fileInput type="file" (change)="onRamUpload($event)" style="visibility: hidden;">
      <button style="grid-column: 3; grid-row: 5;" (click)="fileInput.click()">
        Load RAM (you can also drop it anywhere on the page)
      </button>
    </section>
  </main>

  <!-- Botón para mostrar/ocultar el footer -->
  <button (click)="toggleFooter()">Contributors</button>

  <!-- Footer con colaboradores -->
  @if (showFooter) {
  <footer>
    <h3>
      This is an open-source project by
      <a href="https://github.com/proyectosingenieriauninorte/MIPSTranslator" target="_blank">
        Proyectos Ingenieria Uninorte
      </a>
    </h3>

    <br>

    <app-contributors></app-contributors>
  </footer>
  }
</section>
