<p class="title">MIPS CONVERTER</p>
<section class="container">
    <div class="instruction-menu-container">
        <app-instruction-menu (instructionSelected)="onInstructionMenuSelect($event)"></app-instruction-menu>
    </div>

    <div class="input-container">
        <div class="input-textbox">
            <app-textbox 
                [inputText]="inputText"
                (keyup.enter)="onTranslate()" 
                (inputChange)="onInput($event)" 
                (selectedLineText)="onTableValueChange($event)">
            </app-textbox> 
        </div>
        <div class = "translate">
            <!-- <app-switch (toggleChange)="onToggle($event)"></app-switch>  -->
            <app-translate-button (click)="onTranslate()"></app-translate-button> 
            <app-save-ram-button [hexInput]="parameter"></app-save-ram-button>
        </div>
    </div>

    <app-control-stack 
        [translations]="translations"
        (instructionClick)="onInstructionClick($event)"
        (deleteInstruction)="onDeleteInstruction($event)">
    </app-control-stack>
</section>
<section class="instruction-table">
    <app-instruction-table></app-instruction-table>
</section>
<section class = "assembler-container">
   
    <div class="assemblerInput">    
    <app-assembler-textbox (assemblerInputChange) = "onAssemblerInput($event)"></app-assembler-textbox>
    </div>

    <div class = "assembler-translate">
        <app-assembler-translate-button (click) = "onAssemblerTranslate()"></app-assembler-translate-button> 
    </div>

</section>
<section class="save-ram">
    <app-ramdrop (valueFile)="onTextFile($event)"></app-ramdrop>
</section>




