.textbox {
    width: 15rem;
    height: 4rem;
    flex-shrink: 0;
    
    box-shadow: 1px 4px 10.2px 0px rgba(94, 31, 160, 0.96);
    
    border-radius: 15px; /* Redondeo más sutil que los textboxes pequeños */
    border: 3px solid #7d2ae8;
    background-color: rgba(1, 0, 0, 0); 
    color: #3b3b3b;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    font-family: "Nunito", sans-serif;
}

.input-assistant {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}